<%
var thisType = plural(cap(resource.name));

%>---
***** WARNING *****

This file is auto generated upon deploy of https://github.com/Asana/asana-api-meta. To contribute please
familiarize yourself with the process as documented in the README.md found in that repository *****

***** WARNING *****

parent-title: API Reference
title: <%= thisType %>
description:
_template: dev-api-reference
_layout: dev


# Sidebar nav
side_nav:
<% _.forEach(resource.action_classes, function(action_class) {%><%= '  -'%>
    name: <%= action_class.name%>
    url: <%= action_class.url%>
<%});%>

# Header
logo_text: Developers
header_type: navigation
header_search: true;
---

### <%= thisType%>

<%= removeLineBreaks(resource.comment)%>
<%if (resource.notes) {%><% _.forEach(resource.notes, function(note) {%>
<%= removeLineBreaks(note)%>
<%})};%>
<%= thisType%> have the following fields:

| Field | Description |
|---|---|<% _.forEach(resource.properties, function(property) {%>
| <%= property.name%> | <%_.forEach(property.example_values, function(value) {
%><code class="table-example"><%= value%></code> <%});%><%if (property.access) {
%>**<%= property.access%>.** <%}%><%= removeLineBreaks(property.comment)%><%if (property.notes) {
%><br><br>**Note:** <% _.forEach(property.notes, function(note) {%><%= removeLineBreaks(note, "<br><br>")%><%})};%>|<%});%>

<%var examples = examplesForResource(thisType);
  _.forEach(resource.action_classes, function(action_class) {
  var matchingActions = resource.actions.filter(function(action) {
    return action.class == action_class.url;
  });
%><a name="<%= action_class.url%>"></a>
<%= '**[' + action_class.name.toUpperCase() + '](#' + action_class.url + ')**'
%>
<%if (action_class.comment) {%><%= '\n' + removeLineBreaks(action_class.comment)
%>
<%}%><% _.forEach(matchingActions, function(action) {
    var params = paramsForAction(action);%>
    <%= action.method + '    ' + genericPath(action, params.pathParams)%>

<%= removeLineBreaks(action.comment)%>
<%if (action.notes) {%><% _.forEach(action.notes, function(note) {%>
<%= removeLineBreaks(note)%>
<%})}
%><%if (action.params) {%>
| Parameter | Description |
|---|---|<% _.forEach(action.params, function(param) {%>
| <%= param.name%> | <%_.forEach(param.example_values, function(value) {
%><code class="table-example"><%= value%></code> <%});%><%if (param.required) {
%>**Required:** <%}%><%= removeLineBreaks(param.comment)%><%if (param.notes) {
%><br><br>**Note:** <% _.forEach(param.notes, function(note) {%><%= removeLineBreaks(note, "<br><br>")%><%})};%>|<%
});}%>

<%var curl = curlExamplesForAction(action, examples);
  _.forEach(curl, function(example) {%><%if (example.description) {%>**<%= example.description%>**

<%}%>    # Request
    <%= example.request%> \
    <%= example.url%><%if (example.dataForRequest.length > 0) {%> \<%}%>
    <%_.forEach(example.dataForRequest, function(data, index) {
      %><%= data%><%if (index < example.dataForRequest.length -1) {%> \<%}%>
    <%});%>
    # Response
    <%= example.responseStatus%>
    <%= indent(example.response, '    ', true)%>

<%});%>---
<%});%>
<%});%>