<%
/*
  Reminder: line breaks are significant in Markdown in certain contexts.
  Feel free to add newlines for clarity, but just be aware that they should always be _inside_ 
  a JS code block of < % //Commments, with\n\nwhitespace % > (minus the space between "< %", inserted to avoid parsing here)
  like here in this comment, which is between such a whitespace-safe code block.
*/

  // We use the type name like "Tasks" a lot, so do that first from the resource name
%><%
var thisType = title(plural(resource.name));
%><%
/*
  Render the static site header for page title, sidebar, etc...
  This is everything between the "---" blocks in the markdown file.
*/
%><%=partial("static_site_header", {thisType: thisType, resource:resource})%>

<%
/*
  Render the stuff above the property table with the resource name and overview 
  description of what the resource represents.
*/
%><%=partial("resource_description", {thisType: thisType, resource: resource})%>

<% //Render the table with the fields in it.
%>#####<%= thisType%> have the following fields: {#fields}

| Field | Description |
|-------|-------------|
<% _.forEach(resource.properties, function(property) {
  %><%=partial("field_table_row", {property: property})%>
<%});%>

<%var examples = examplesForResource(thisType);
  _.forEach(resource.action_classes, function(action_class) {
  var matchingActions = resource.actions.filter(function(action) {
    return action.class == action_class.url;
  });
%><a class="jump-anchor" id="<%= action_class.url%>"></a>
<%= '**[' + action_class.name.toUpperCase() + '](#' + action_class.url + ')**'%><%if (action_class.comment) {%><%= '\n' + removeLineBreaks(action_class.comment)%>
<%}%>
<%var curl = curlExamplesForKeys(action_class.example_keys, examples);%>
<%= partial("curl_example", {curl: curl, indent: indent})%>
<% _.forEach(matchingActions, function(action) {
    var params = paramsForAction(action);%>

~~~ .nohighlight
<%= action.method + '    ' + genericPath(action, params.pathParams)%>
~~~

<%= removeLineBreaks(action.comment)%>
<%if (action.notes) {%><% _.forEach(action.notes, function(note) {%>
<%= removeLineBreaks(note)%>
<%})}
%><%if (action.params) {%>
| Parameter | Description |
|---|---|<% _.forEach(action.params, function(param) {%>
| <%= param.name%> | <%_.forEach(param.example_values, function(value) {
%><code class="table-example"><%= value%></code> <%});%><%if (param.required) {
%>**Required:** <%}%><%= removeLineBreaks(param.comment)%><%if (param.notes) {
%><br><br>**Note:** <% _.forEach(param.notes, function(note) {%><%= removeLineBreaks(note, "<br><br>")%><%})};%>|<%
});}%>
<%var curl = curlExamplesForAction(action, examples);%>
<%= partial("curl_example", {curl: curl, indent: indent})%>
<%if (action.footer) {%><%= removeLineBreaks(action.footer)%>
<%}%><%});%><%});%>
